<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="https://grancursosonline.com.br/upload/projeto/thumbnail/ita-instituto-tecnologico-de-aeronautica.png?1476796501">
</div>
<h2>Click to navigate in SPA: </h2>
<ul>
  <li>
    <h2><a routerLink="/spa1" routerLinkActive="active">Option 1</a></h2>
  </li>
  <li>
    <h2><a routerLink="/spa2" routerLinkActive="active">Option 2</a></h2>
  </li>
  <li>
    <h2><a routerLink="/spa3" routerLinkActive="active">Option 3</a></h2>
  </li>
  <li>
    <h2><a routerLink="/spa4" routerLinkActive="active">Option 4</a></h2>
  </li>
  <li>
    <h2><a routerLink="/spa5" routerLinkActive="active">Option 5</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>